/*html, body {*/
/*  height: 100%;*/
/*}*/
#root {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: #E5E6EA;
}

.title {
  padding: 24px 10px 10px 10px;
  /*background-color: red;*/
  color: white;
  -webkit-app-region: drag;
}

.scrollView {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: scroll;
}

.row {
  background-color: #F0F0F0;
  padding: 8px 10px 10px 10px;
  margin: 6px 18px;
  border-radius: 8px;
  color: #4D4D4D;
  font-size: 13px;
  cursor: default;
  position: relative;
  display: flex;
  align-items: center;
}
.row:hover .close {
  display: inherit;
}
.left {
  width: 30px;
  margin-right: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time {
  font-size: 12px;
  color: #888888;
}

.search-container {
  margin: 10px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
}
.search {
  width: 100%;
  position: relative;
  z-index: 2;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
  border: none;
  background: transparent;
  outline: none;
}
.search-wait {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 0;
  line-height: 26px;
  color: #888888;
}

.close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  /*border-radius: 10px;*/
  /*background-color: #888888;*/
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}
